.ban{
    background-image: url("https://images.pexels.com/photos/135620/pexels-photo-135620.jpeg?cs=srgb&dl=pexels-shattha-pilabut-135620.jpg&fm=jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}